* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
  color: white;
}
h1 {
  padding: 10px 0;
  text-align: center;
}
.about-me-p {
  line-height: 1.5;
}

.navigation-bar {
  padding: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links a {
  color: white;
  padding: 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}
.nav-links a:hover {
  color: rgb(155, 118, 189);
}
.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
}
